@import url("bootstrap-astropy.css");

div.topbar a.brand {
    background: none;
    background-image: url("./favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

div.topbar ul li a.homelink {
    background: none;
    background-image: none;
}